[submodule "commons"]
	path = commons
	url = git://github.com/mtransitapps/commons.git
[submodule "commons-android"]
	path = commons-android
	url = git://github.com/mtransitapps/commons-android.git
[submodule "app-android"]
	path = app-android
	url = git://github.com/mtransitapps/ca-st-catharines-transit-bus-android.git
[submodule "parser"]
	path = parser
	url = git://github.com/mtransitapps/parser.git
[submodule "agency-parser"]
	path = agency-parser
	url = git://github.com/mtransitapps/ca-st-catharines-transit-bus-parser.git
